*
{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	
}
*:after, *:before
{
	box-sizing: border-box;
}
.clearfix{
	clear: both;
}

.wrapper
{
	width: 800px;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
	line-height:24px;
}
.header
{
	background: url(../img/header-bg.jpg) no-repeat;
	overflow: hidden;

}	
.logo
{
	display: flex;
	margin: 65px auto 47px;
	width: 109px;

}
.nav
{
	list-style-type: none;
	display: flex;
	width: 327px;
	margin: 0 auto;
	justify-content: space-between;
}
.nav__item
{

}
.nav__link
{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;	
}
.header__caption
{
	font-size: 53px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin: 79px 0 43px;
}	
.header__sub-caption
{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.header__sub-caption:before, .header__sub-caption:after
{
	content: "";
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7dbdb;
	width: 100px;
	opacity: 0.24;
	vertical-align: middle;
}
.header__sub-caption:before
{
	margin-right: 32px;
}
.header__sub-caption:after
{
	margin-left: 32px;
}
.btn
{
	display: block;
	width: 98px;
	height: 35px;
	background:#50c3af;
	color: #fff;
	text-transform: uppercase;
	line-height: 35px;
	text-align: center;
	border-radius: 30px;
	text-decoration: none;
}
.btn_header
{
	width: 235px;
	height: 48px;
	line-height: 48px;
	font-size: 15px;
	font-weight: 700;
	margin: 83px auto 80px;
}

.main{
	font-size: 14px;
	font-weight: 400;
	color: #787b80;

}
.services{
	background: #eeeeef;
	display: flex;
	justify-content: space-around;
	padding-left: 80px;
}
.services__item{
	margin: 62px 15px 75px; 
	width: 180px;
	text-align: center;

}

.services__img{
	 
}
.services__caption{
	font-size: 16px;	
}
.main_caption{
	font-weight: bold;
	text-transform: uppercase;
	color: #40474e; 
	margin-top: 30px; 

}
.main_caption:after{
	content: "";
	display: inline-block;
	margin: 0 auto ; 
	display: inline-block;
	border-top: 2px solid #e2e3e4;
	width: 134px;
	vertical-align: bottom;

}
.services__text{
	margin-top: 18px; 
}

.benefits{
	background: #f5f5f5;
	display: flex;
	justify-content: space-around;
}

.benefits__item{	
	margin-top: 65px;
	margin-bottom: 80px; 
	width: 290px;
}
.benefits__item:first-child{
	margin-left: 40px;
}
.benefits__item:last-child{
	margin-left: -100px;
}
.benefits__caption{
	font-weight: 700;
	font-size: 18px;
}
.benefits__caption:after{
	content: "";
	width: 290px;
}
.benefits__text{
	margin-top: 31px;
	margin-bottom:34px;
}

.btn__main{
	text-transform: none;
}

.support{
	background: #eeeeef;
	padding: 63px 125px 64px 108px;
	display: flex;
	flex-flow: column;
	
}


.support__caption{
	margin: 0;
	font-size: 18px;

}

.support__caption:before{
	content: "";
	float:left;
	width: 24px; 
	height: 23px;
	margin:0 15px 0 0;
	background:url(../img/help.png);
}

.support__caption:after{
	content: "";
	display: inline-block;
	margin: 24px auto 0; 
	display: inline-block;
	border-top: 2px solid #e2e3e4;
	width: 600px;
	vertical-align: bottom;

}
.support__text{
	margin-top: 50px;
}
.btn_support{
	margin-top: 38px;
	text-transform: none;
	background: #d2d5da;
}

.specials{
	display: flex;
	justify-content: space-around;
	background: #f5f5f5;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 58px;


}

.specials__item{
	width: 182px;
	margin-bottom: 80px;

}

.specials__caption{
	font-size: 15px;
	font-weight: 700;
}

.specials__caption:after{
	content: "";
	width: 182px;

}
.specials__text{
	padding-top: 26px;
	margin-bottom: 28px;
}
.btn__specials{
	background: none;
	color: #50c3af;
	text-decoration: none;
	margin-top: 
}

.review{
	display: flex;
	justify-content: space-around;
	background: #eeeeef;
	padding-left: 80px;
	padding-right: 80px;

}
.rewiew__item{
	width: 252px;
	margin-top: 20px;
	margin-bottom: 61px;
}

.rewiew__caption-send:before{
	content: "";
	float:left;
	width: 24px; 
	height: 19px;
	margin:0 15px 0 0;
	background:url(../img/send.png);
}

.rewiew__caption-write:before{
	content: "";
	float:left;
	width: 20px; 
	height: 20px;
	margin:0 15px 0 0;
	background:url(../img/write.png);
}

.rewiew__caption-send:after{
	content: "";
	width: 250px;	
}
.rewiew__caption-write:after{
	content: "";
	width: 250px;
}


.rewiew__text{
	margin-top: 28px;
	margin-bottom: 36px;
}

.unique{
	display: flex;
	padding: 80px 60px;
	background: #f5f5f5;
	justify-content: space-around;
}
.unique__img{
	display: block;
	width: 264px;
	padding-top: 30px;
	padding-bottom: 20px;


}
.unique__description{
	width: 290px;

}

.unique__caption:after{
	content: "";
	width: 290px;
}
.unique__text{
	margin-top: 31px;
	margin-bottom: 19px;
}

.unique__btn{
	margin: 0;
}